/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Rubik Mono One', sans-serif;
}
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
html {
  scroll-behavior: smooth;
}

/* Header  */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Navigation */
nav li,
nav li a {
    display: inline-block;
}
nav ul {
    float: right;
}
nav li {
    margin-top: 35px;
    margin-right: 20px;
}
nav li a {
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 3em;
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 50%;
    box-shadow: 4px 2px 8px black;
}

/* Main */
main section {
    width: 100%;
    height: 100vh;
    position: relative;
}
.back-red {
    background-color: red;
    color: yellow;
}
.back-green {
    background-color: #008000;
    color: yellow;
}
.back-yellow {
    background-color: yellow;
    color: green;
}
.img-title {
    width: 50%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.img-title img {
    width: 100%;
}
main h2 {
    text-align: center;
    font-size: 32px;
}

nav li a:hover {
    background-color: lightgray;
}